@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');


* {
    margin: 0;
    padding: 0;
}


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.metal {
    font-family: "Metal Mania", system-ui;
    font-weight: bold;
    font-style: normal;
}

body {
    background-color: rgba(0, 0, 0, 1);
}

header {
    background-color: #191A1B;
    box-shadow: 0 4px 4px 0 #000000;
}

.primary-btn {
    background-color: #E6533C;
    color: #FFFFFF;
    border: 1px solid #E6533C;
    border-radius: 42px;
    padding: 16px 45px;
    font-size: 1.125rem;
    font-weight: 600;
}

.non-primary {
    background-color: #191A1B;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 42px;
    padding: 16px 45px;
    font-size: 1.125rem;
    font-weight: 600;
    margin-left: 20px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 55px;
}

.nav-title {
    color: #E6533C;
    font-size: 2.25rem;
    font-weight: 800;
}

.nav-links {
    display: flex;
    text-decoration: none;
    border: 1px solid #333333;
    border-radius: 39px;
}

.nav-items {
    list-style: none;
    margin-right: 30px;
    padding: 12px 20px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.125rem;
    font-weight: 600;
    color: #FFFFFF;
}

#unique {
    background-color: #E6533C;
    border: 1px solid none;
    border-radius: 46px;
}

.banner {
    display: flex;
    max-width: 1300px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    margin-right: 130px;
}

.banner-title {
    font-size: 4.875rem;
    font-weight: 900;
    color: #FFFFFF;
    margin-bottom: 28px;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    font-weight: 500;
    margin-bottom: 28px;
}

.btn {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid #191A1B;
    border-radius: 12px;
    padding: 17px 24px;
}

.big {
    font-size: 2.5rem;
    font-weight: bold;
    color: #FFFFFF;
}

.small {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.125rem;
    font-weight: 500;
}

#up {
    position: relative;
    top: 220px;
    left: 200px;
}

#down {
    position: relative;
    bottom: 170px;
    right: 40px;
}

.nav-title {
    display: flex;
    align-items: center;
}

.fa-solid {
    margin-left: 230px;
    color: #FFFFFF;
}

main {
    max-width: 1300px;
    margin: 0 auto;
}

.habit {

    margin-top: 100px;
}

.habit-talks {
    text-align: center;
}

.habit-title {
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 15px;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 400;
    font-size: 1rem;
    margin-bottom: 55px;
}

.fitnes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.habit-content {
    align-items: center;
    text-align: center;
}

.content-title {
    color: #FFFFFF;
    font-size: 1.125rem;
    font-weight: 600;
    padding: 30px 0 8px;
}

.content-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.img-habit {
    border-radius: 100px;
}





















@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column;
    }

    .banner-content {
        margin: 50px auto 20px 20px;

    }

    .banner-title {
        font-size: 3.5rem;
        font-weight: 900;
    }

    .non-primary {
        margin-left: 0;
        margin-top: 20px;
    }

    .nav-links {
        display: none;
    }

    .btn {
        padding: 10px;
    }

    .big {
        font-size: 2rem;
        font-weight: bold;
        color: #FFFFFF;
    }

    .small {
        color: rgba(255, 255, 255, 0.5);
        font-size: 1rem;
        font-weight: 500;
    }

    #up {
        position: relative;
        top: 150px;
        left: 200px;
    }

    #down {
        position: relative;
        bottom: 330px;
        right: -30px;
    }

    .fitnes {
        grid-template-columns: repeat(1, 1fr);
    }

    .habit-talks {
        margin: auto 25px;
    }

    .habit-content {
        margin: auto 25px;
    }


}

@media screen and (min-width: 992px) {
    .fa-solid {
        display: none;
    }

}